@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clean-white: #F4F4F4;
    --white-grey: #F8F8FF;
    --roboto: "Roboto Condensed", sans-serif;
    --border-grey: #303030;
    /* --main-green:#55DF5E; */
    --main-green:#79B900;
    --main-black:#001819;
    --semi-black:#7A7A7A;
}

/************* layout */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    margin: 0%;
    padding: 0%;
    font-family: var(--roboto);
    font-style: normal;
    position: relative;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    position: relative;
}
.txt-green{
    color: green !important;
}
/* header */
.home-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--white-grey);
    border-bottom: 1px solid #dededec1;
    padding: 10px 60px;
    position: sticky;
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2;

}

.home-header img {
    width: 300px;
    height: auto;
}

.home-header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.home-header nav{
    
}
.home-header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

 .home-header nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .link {
    color: var(--main-green);
    line-height: 2;
    position: relative;
  }
  
  .link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--main-green);
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
  }
  
  .link:hover::before {
    width: 100%;
    left: 0;
  }
/**************** utensils */

.btn-1 {
    width: 6.5em;
    height: 2.3em;
  
    background: var(--main-green);
    color: white;
    border: none;
    border-radius: 0.425em;
    font-size: 1.1rem;

    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center; 
    display: inline-block; 
    line-height: 2.3em; 
    text-decoration: none;
}

.btn-1:hover {
    color: var(--main-green); 
}

.btn-1:after {
    content: "";
    background: var(--main-black);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scaleX(0);
    transition: all 0.5s ease-in-out; }

.btn-1:hover:after {
    transform: skewX(-45deg) scaleX(1);
}

.sec-title{
    font-size: 3rem;
    color: var(--main-black);
}
/********** Home */

main {
    width: 100%;
    height: 100%;
}

.home {
    height: 650px;
    background-image: linear-gradient(#00000080, #79797980), url('./images/bg-home.jpg');
    background-position: center;
    background-attachment: fixed;

}

.home div {
    background-color: var(--white-grey);
    padding: 60px 40px;
    padding-bottom: 25px;
}

.home div span {
    color: #3C3B3B;
    font-size: 1.3rem;
}

.home div h1,.home div h1 span {
    font-size: 4rem;
    margin: 0;
    max-width: 800px;
    color: var(--main-black);
}
/**** about */

.about {

    display: flex;
    align-items:stretch; 
    justify-content: center;
    flex-direction: row;
    padding: 100px 70px;
    
}


.about div p:nth-child(2){
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 600px;
   

}
.about div p:nth-child(3){
    max-width: 800px;
    text-align: justify;
    margin-bottom: 40px;


}
/* .about a{
    background-color: var(--main-green);
    text-decoration: none;
    padding: 7px 30px;
    font-size: 1.1rem;
    color: black;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    transition: background .4s ease;
    text-align: center;
    }

    .about a:hover{
        background-color: white;
        border: 2px solid var(--main-green);
    } */

    .about div:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .about div:nth-child(2) img {
        animation: rotate 80s linear infinite;
        margin-top: 20px;
        filter: drop-shadow(10px 10px 20px #bababa80);
    }
    
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg); 
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    /*** text banner */

    .banner-text{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        position: relative;
        margin-top: 30px;
        padding: 10px;
        font-size: 1.2rem;
        /* border-top: 1px solid var(--border-grey); */
    }
    .banner-text span {
        animation: slide 30s linear infinite; 
        white-space: nowrap; 
        color: rgb(157, 157, 157);
        font-size: 1.3rem;
    }
 
    @keyframes slide {
        0% {
            transform: translateX(100vw); 
        }
        100% {
            transform: translateX(-100vw);
        }
       

    }
    
/*** cards  section **/

.cards-section{
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-top: 90px;
    flex-direction: column;
}

.cards-section:focus-within .card-con{
    animation: up 3s ease-in-out;
}

.card-con{
    margin-top: 60px;
    width: 100%;
    padding: 20px 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: up 3s ease-in-out;
}
@keyframes up {
    0%{
        opacity: .4;
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}
.card{
    width: 400px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    background-color: var(--clean-white);
    transition: all .7s ease-in-out;

}
.card:hover{
    background-color: var(--main-black);
}
.card:hover span{
    color: white;
}
.card:hover i{
    background-color: var(--main-green);
    color: white;
}

.card-img{
    width: 100%;
    border-radius: 10px;
    height: 190px;
    background-position: center;
    position: relative;
}
.card-content{
    padding: 5px;
    padding-top: 10px;
    position: relative;
}
.card-content i{
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--main-green);
    padding: 14px 15px;
    position: absolute;
    right: 20px;
    top: 30px;
    transform: rotate(310deg);
    background-color: white;
    border-radius: 100%;
    transition: all .7s ease-in-out;
}

.card-content div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-content div span{
    display: flex;
    justify-content: left;
    flex-direction: column;
    transition: all .7s ease-in-out;
}
.card-content div span span{
    color: var(--main-black);
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
}
.card-content div span span::before{
    content: ' ';
    position: absolute;
    width: 40px;
    background-color: var(--main-green);
    bottom: -10px;
    height: 3px;
}
.card-content div{

}
.card-logo{
    width: 55px;
    margin-top: 17px;
}
.card-content p{
    color: var(--semi-black);
    font-size: 1rem;
    /* line-height: 43px; */
}

